$purple: #8100b3;
$red: #ff1900;

$white: #ffffff;

$blue: #0067aa;
$yellow: #fdad00;
$darkRed: #d20012;

.home-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border: 3px solid white;
  height: 100vh;
  position: relative;
  overflow:hidden;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99999;
    top: 0%;
    transition: all 2s;

    p {
      cursor: pointer;
      transition: all 1s;

      &:hover {
        color: $white;
        transition: all 1s;
      }
    }

    p:first-child { padding: 10px 20px 5px 15px; }
    p:nth-child(2) { padding: 30px 40px 35px 5px; }
    p:nth-child(3) { padding: 10px 5px 85px 25px; }
    p:nth-child(4) { padding: 40px 65px 15px 25px; }
  }

  .content-block {
    // clip-path: polygon(49% 40%, 0% 100%, 100% 100%);
    // animation: squishing 15s ease-in-out infinite alternate;
    -webkit-backspace-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 2s transform;

    img {
      position: absolute;
      width: 100%;
      height: 150%;
      transform: translateY(-20%);
      z-index: 999;
      transition: 4s all;
    }

    .wrapper {
      margin-top: 5%;
      padding-bottom: 20%;
      width: 80%;
      height: 100%;

      .overflow-wrapper {
        height: 80%;
        overflow: auto;
        position: relative;
        z-index: 99999;
      }
    }

    a, p {
      display: block;
      text-align: center;
      margin-bottom: 20px;
      color: black;
      position: relative;
      z-index: 99999999;
      transition: .325s all;

      &:hover {
        color: $blue;
        transition: .325s all;
      }
    }

    a { cursor: pointer; }
  }
}

.home-wrapper.content-up {
  .content-block {
    transform: translateY(-80%);
    transition: 2s transform;

    img {
      background: $yellow;
      transform: translateY(-25%);
      transition: 4s all;
    }
  }

  .nav {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 2s;
    top: 0;
    width: 15%;
    right: 0;
    position: absolute;
  }
}

@keyframes squishing {
  10%, 40%, 80% { transform: scale(1, .9) skew(6deg); }
  0%, 30%, 60%, 100% {transform: scale(.9, 1) skew(12deg);}
}
