$lavender: rgba(204,102,255,.8);
$blue: rgba(51,119,255,.8);
$green: rgba(25,255,217, .8);

.header {
  border: 1px dotted rgba(25,255,217, .8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;

  h4:hover {
    color: hotpink;
  }
}

a:hover {
  color: black;
}

.dots {
  span:nth-child(odd) {
    color: $lavender;
  }
  span:nth-child(even) {
    color: $blue;
  }
}

.home-wrapper {
  padding-top: 63px;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: block;

  h3 {
    width: 25%;
    border: 1px dotted $lavender;
  }
}

.nav {
  p {
    margin-bottom: 3px;
    position: relative;
    &:hover {
      color: hotpink;
      cursor: url("../layouts/moon-small.ico"), auto !important;
    }
  }
  p:first-child {
    border: 1px dotted $lavender;
    padding-left: 19px;
  }
  p:nth-child(2) {
    border: 1px dotted $blue;
    padding-left: 34px;
  }
  p:nth-child(3) {
    border: 1px dotted $lavender;
    padding-left: 49px;
  }
  p:nth-child(4) {
    border: 1px dotted $blue;
    padding-left: 32px;
  }
  p:nth-child(5) {
    border: 1px dotted $lavender;
    padding-left: 72px;
  }
}
.content-block {
  border: 1px dotted $lavender;
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: calc(100% - 25%);
  padding-top: 65px;
  padding-left: 50px;
  padding-right: 20px;
  word-wrap: break-word;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  .wrapper {
    padding-bottom: 120px;
    .poem-post,
    .blog-post,
    .video-post {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      border: 1px dotted $green;
      padding: 10px 20px;
      @media only screen and (min-width: 768px) {
        width: 80%;
      }
    }
    .poem-post {
      position: relative;
      background: white;
      width: 100%;
      @media only screen and (min-width: 768px) {
        width: 90%;
      }
      .dots {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: -13px;
        width: 100%;
      }
      span.journal {
        display: inline;
        font-style: italic;
        color: rgba(0,0,0,.7);
        font-size: .875em;
      }
    }
    a.poem-post:hover {
      color: hotpink;
    }
    a.poem-post:hover .journal{
      color: orangered;
    }
    .video-post {
      position: relative;
      margin-bottom: 30px;
      width: 100%;
      margin-bottom: 40px;
      @media only screen and (min-width: 768px) {
        width: 60%;
      }
      .dots {
        position: absolute;
        right: -40px;
        top: -15px;
      }
      p {
        margin-bottom: 10px;
        position: absolute;
        top: -25px;
        left: -10px;
      }
      .frame {
        position: relative;
        height: 0;
        padding-bottom: 56%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .blog-post-year {
      h5 {
        font-size: .675em;
        margin-bottom: 15px;
        letter-spacing: .2em;
        font-weight: lighter;

        span:nth-child(odd) {
          color: $lavender;
        }
        span:nth-child(even) {
          color: $blue;
        }
      }
    }
    .blog-post {
      .title {
        font-style: italic;
        display: inline-block;
        margin-bottom: 8px;
        border-bottom: 3px dashed hotpink;
      }
      .blog-text {
        p {
          font-size: .875em;
        }
      }
      img {
        display: block;
        margin-top: 15px;
        width: 60%;
      }
      a:hover {
        color: hotpink;
      }
    }
  }
  .about {
    p {
      margin-bottom: 20px;


      em {
        font-style: italic;
      }
    }
    .bio {
      max-width: 50%;
      margin: 0 auto;
      font-size: .75em;
    }
    img {
      display: block;
      width: 100%;
      // z-index: 1;
    }
  }
}
