.home-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  .quadrant {
    // border-top: 3px solid #EEDF0C;
    // border-right: 3px solid #EEDF0C;
    width: 25%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: .75em;
    height: calc(100vh - 46px);

    &:last-child {
      border-right: none;
    }
    p {
      letter-spacing: .09em;
    }
    &.one {
      p { padding-top: 30%; }
    }

    &.two {
      p { padding-top: 80%; }
    }

    &.three {
      p { padding-top: 60%; }
    }

    &.four {
      p { padding-top: 10%; }
    }
  }

  .content-block {
    background: #fff;
    color: #0067aa;
    height: 80vh;
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    top: 90%;
    margin: 0 auto;
    padding: 60px;
    -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

    a {
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
