$lavender: rgba(204,102,255,.8);
$blue: rgba(51,119,255,.8);
$green: rgba(25,255,217, .8);


a:hover {
  color: black;
}
.home-wrapper {
  padding-top: 63px;
  position: relative;
  height: 100vh;
  display: block;

  h3 {
    width: 25%;
    border: 1px dotted $lavender;
  }
}
.nav {
  p {
    margin-bottom: 3px;
    position: relative;
    &:hover {
      color: hotpink;
    }
  }
  p:first-child {
    border: 1px dotted $lavender;
    padding-left: 19px;
  }
  p:nth-child(2) {
    border: 1px dotted $blue;
    padding-left: 34px;
  }
  p:nth-child(3) {
    border: 1px dotted $lavender;
    padding-left: 49px;
  }
  p:nth-child(4) {
    border: 1px dotted $blue;
    padding-left: 62px;
  }
}
.content-block {
  border: 1px dotted $lavender;
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: calc(100% - 25%);
  padding-top: 65px;
  padding-left: 50px;
  padding-right: 20px;
  word-wrap: break-word;
  overflow: scroll;

  .wrapper {
    .poem-post,
    .blog-post,
    .video-post {
      display: block;
      width: 80%;
      margin-bottom: 30px;
      border: 1px dotted $green;
      padding: 10px 20px;
    }
    .poem-post {
      position: relative;
      background: white;
      width: 90%;

      span.journal {
        display: inline;
        font-style: italic;
        color: rgba(0,0,0,.7);
        font-size: .875em;
      }
    }
    a.poem-post:hover {
      color: hotpink;
    }
    .video-post {
      position: relative;
      margin-bottom: 30px;
      width: 60%;
      p {
        margin-bottom: 10px;
      }
      .frame {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .blog-post {
      .title {
        font-style: italic;
        display: inline-block;
        margin-bottom: 8px;
        border-bottom: 3px dashed hotpink;
      }
      .blog-text {
        p {
          font-size: .875em;
        }
      }
      img {
        display: block;
        width: 80%;
      }
      a:hover {
        color: hotpink;
      }
    }
  }
  .about {
    p {
      margin-bottom: 20px;

      &:last-child {
        font-size: .75em;
      }
    }
    img {
      display: block;
      max-width: 90%;
      // z-index: 1;
    }
  }
}
