.header {
  background: white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  text-align: center;
  height: 50px;
  border: 6px solid #EEDF0C;
  display: flex;
  align-items: center;
  justify-content: center;
}
