html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
button {
  font-family: 'Titillium Web', sans-serif;
}



article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

$purple: #8100b3;
$red: #ff1900;

$white: #ffffff;

$blue: #0067aa;
$yellow: #fdad00;
$darkRed: #d20012;

body {
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  height: 100vh;
  color: $red;
  background: $purple;
  @media (min-width: 601px) { font-size: 20px; }
  @media (min-width: 901px) { font-size: 26px; }
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #f1f1f1;
}
.outer-wrapper {
  overflow: hidden;
}
.desktop-only {
  display: none;
  @media (min-width: 601px) { display: block; }
}
.mobile-only {
  display: none;
  @media (max-width: 600px) { display: block; }
}
